@page "/aboutme"
@rendermode InteractiveServer
<PageTitle> About Me </PageTitle>

<div class="grid-container">
    <div class="card">
        <h1>Card One</h1>
        <p>This is the first card in my CSS Grid layout. I'm learning how to create responsive grid layouts!</p>
    </div>

    <div class="card">
        <h1>Card Two</h1>
        <p>This is the second card. Grid makes it easy to create structured layouts with minimal code.</p>
    </div>

    <div class="card">
        <h1>Card Three</h1>
        <p>This is the third card. You can adjust the grid-template-columns property to change the layout.</p>
    </div>
</div>


@code {
    int number = 10;
}